:root {
  --bs-primary: #ff5733; /* Nova cor para o tema primário */
  --bs-primary-rgb: 255, 87, 51; /* Cor primária no formato RGB */
  --bs-secondary: #33aaff; /* Nova cor para o tema secundário */
}
.custom-card {
  background-color: var(--bs-secondary);
  color: white; /* Texto claro para contraste */
  padding: 1rem;
  border-radius: 0.25rem;
}
