.nav-link-custom {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

body {
  background: linear-gradient(to bottom, #111827, #1d264a);
  background-color: #111827;
  min-height: 100vh;
  width: 100%;
}

@media (min-width: 769px) {
  body {
    width: 50%;
  }
}

.logo {
  height: 4rem;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: $primary;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #495057;
  }
  .navbar-nav {
    align-items: center;
  }
}

@media (min-width: 992px) {
  .introduction {
    min-height: 70vh;
  }
}

.btn {
  background-color: $secondary;
}

.features {
  background-color: rgba(0, 0, 0, 0.2);
}
.features-btn {
  gap: 0.625rem;
  align-self: stretch;
  background: rgba(156, 163, 175, 0.3);
  border: 1px solid #fff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resource-card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  min-height: 6.5rem;
  font-size: 16px;
  color: #fff;
  text-decoration: none;

  & .resource-card:hover {
    cursor: pointer;
  }
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #fff;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.desktop-banner-card {
  background-color: transparent;
  border: none;
  color: #fff;
  height: 15rem;
  max-height: 350px;

  & img {
    object-fit: cover;
    border-radius: 0.5rem;
    height: 100%;
    max-height: 300px;
    width: 100%;
  }

  & .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }

  & .text-primary {
    font-weight: 600;
  }

  & .btn-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }

  & .btn-link:hover {
    text-decoration: underline;
  }
}

.footer-container h6 {
  color: #fff;
}

.footer-container .list-unstyled a {
  transition: color 0.2s ease-in-out;
}

.footer-container .list-unstyled a:hover {
  color: #fff;
  text-decoration: underline;
}
