$primary: #111827;
$secondary: #13A4EC;

//historico
$list-group-bg: transparent;
$list-group-action-hover-bg: #000;
$list-group-action-color: #fff;
$list-group-border-color: transparent;

$accordion-bg: transparent;
$accordion-button-color: #fff;
$accordion-border-color: transparent;
$accordion-header-bg: transparent;
